.table-myjobs {
  
    overflow-y: scroll;
    width: 95% !important;
    margin: 0 auto;
    padding: 30px 0;    

    .example-card{
      background-color: transparent !important;
      width: 100% !important;
      margin-bottom: 20px;
      white-space: pre-line;
      
      mat-icon{
          display: inline;
          font-size: 15px;
          vertical-align: middle !important;
      }
      mat-expansion-panel-header{
        height: 130px !important;
      }
    }    
}


.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.green{
    color: #4caf50 !important;
    background-color: transparent !important;
}
.gray{
    color: #9e9e9e !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 960px)
{
  .table-myjobs{
    mat-content{
      flex-direction: column;
      height: auto;
    }
    .mat-expansion-panel-header{
      display: initial;
    }
  }  
}