<div class="container mt-5">
    <div class="row mt-5 d-flex align-items-stretch">
        <div class="col-lg-6">
            <p class="fs-24"><b>Juniverse</b> — це український стартап для джунів від команди Don't Panic Recruiting Agency та Романа Кушнарьова.</p>
            <p>Пошук першої роботи в ІТ-сфері є справжнім челенджем. Аби зробити цей процес легшим та комфортнішим, ми створили платформу, де розробники-початківці зможуть знайти ідеї та ґайди для власних pet-проєктів, форум із корисними матеріалами і анонсами, заручитись підтримкою менторів, покращити хард-скіли та здобути перші офери.</p>
            <p>Рекрутери на платформі мають можливість оптимізувати процес найму для позицій Trainee/Junior рівня, а також отримати доступ до бази верифікованих кандидатів.</p>
            <p>Наша місія — створити junior-friendly спільноту, завдяки якій розробники-початківці зможуть знайти першу роботу в ІТ, а роботодавці охоче підсилюватимуть свої команди джунами.</p>
            <div class="socials d-flex align-items-center">
                <a href="https://www.linkedin.com/company/junjob/" target="_blank" rel="noopener noreferrer" class="socials__link"><img src="assets/icons/socials/linkedin.svg" alt=""></a>
                <a href="https://www.youtube.com/c/JunJob" target="_blank" rel="noopener noreferrer" class="socials__link"><img src="assets/icons/socials/tiktok.svg" alt=""></a>
                <a href="https://t.me/Job_IT_Junior" target="_blank" rel="noopener noreferrer" class="socials__link"><img src="assets/icons/socials/youtube.svg" alt=""></a>
                <a href="https://www.tiktok.com/@junjob_ua" target="_blank" rel="noopener noreferrer" class="socials__link"><img src="assets/icons/socials/telegram.svg" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="assets/images/j_logo.svg" alt="">
        </div>
    </div>
    <div class="row mt-10 mb-5">
        <div class="col-lg-12">
            <h2>Команда</h2>
        </div>
    </div>
    <div class="row mt-5 mb-10 d-flex align-items-stretch">
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/1.png" alt="" class="rounded">
                <h5 class="text-uppercase">Алекс Герман</h5>
                <p>CEO | Co-Founder</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/2.png" alt="" class="rounded">
                <h5 class="text-uppercase">Євген Гайдученко</h5>
                <p>COO | Co-founder</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/3.png" alt="" class="rounded">
                <h5 class="text-uppercase">Роман Кушнарьов</h5>
                <p>Product owner  | Co-Founder</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/4.png" alt="" class="rounded">
                <h5 class="text-uppercase">Андрій Андрієнко</h5>
                <p>SCRUM master </p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/5.png" alt="" class="rounded">
                <h5 class="text-uppercase">Юлія Ющук</h5>
                <p>Product owner  | Co-Founder</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/6.png" alt="" class="rounded">
                <h5 class="text-uppercase">Сергій Стебунов</h5>
                <p>Product mentor</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/7.png" alt="" class="rounded">
                <h5 class="text-uppercase">Максим Тимченко</h5>
                <p>Copywriter</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/8.png" alt="" class="rounded">
                <h5 class="text-uppercase">Марія Шелкова</h5>
                <p>Video Content Creator</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/9.png" alt="" class="rounded">
                <h5 class="text-uppercase">Лана Турок</h5>
                <p>Telegram Community Manager </p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/10.png" alt="" class="rounded">
                <h5 class="text-uppercase">Анастасія Лоза</h5>
                <p>Community manager</p>
            </div>
        </div>
        <div class="col-lg-3 text-center mb-5">
            <div class="team__item">
                <img src="assets/team/11.png" alt="" class="rounded">
                <h5 class="text-uppercase">Тетяна Сікірська</h5>
                <p>CBDO</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="page-layout carded filter-table-layout fullwidth inner-scroll ">
    <div class="center">        
        <div class="page-container mb-20  mat-elevation-z6 contact-container p-20 pb-24">
            <div class="contact-title h2 pb-16 text-center">{{'about.title' | translate}}</div>
            <p>
                {{'about.p1_1' | translate}} <a href="https://dontpanic.team/" target="_blank">{{'about.pi_link' | translate}}</a>{{'about.p1_2' | translate}}
            </p>
            <p>
                {{'about.p2' | translate}}
            </p>
            <p>
                {{'about.p3' | translate}}
            </p>
            
        </div>
        <div class="page-container mb-20  mat-elevation-z6 contact-container text-center p-20 pb-24">
            <div class="contact-title h2 pb-16">{{'about.contact_title' | translate}}</div>
            <div class="h3 contact-subtitle" [innerHTML]="'about.sub_title' | translate">
            </div>
            <div class="person-box mt-40 mb-20">
                <div class="item">
                    <a target="_blank" href="https://www.linkedin.com/in/romankushnaryov/">
                        <img class="mat-elevation-z3"
                             src="assets/images/avatars/RomanKushnaryov.jpg" alt="{{'about.name1' | translate}}">
                        <div class="name">{{'about.name1' | translate}}</div>
                    </a>
                </div>
                <div class="item">
                    <a target="_blank" href="https://www.linkedin.com/in/eugene-haiduchenko-34356711b/">
                        <img class="mat-elevation-z3"
                             src="assets/images/avatars/EugeneHaiduchenko.jpg" alt="{{'about.name2' | translate}}">
                        <div class="name">{{'about.name2' | translate}}</div>
                    </a>
                </div>
            </div>
            <div class="contact-subtitle h4">{{'about.footer' | translate}}</div>
        </div>
        <a href="https://pay.fondy.eu/s/P2YiT" target="_blank" class="btn-donate text-center">{{'donate_rozrobnyk' | translate}}</a>
    </div>
</div> -->
