<div class="page-layout carded filter-table-layout fullwidth">
    <div class="center">
        <div class="page-container">
            <app-job-filter class="left filter-fixed-container" style="z-index: 999 !important;"></app-job-filter>
            <app-job-data-table class="right" style="z-index: 1 !important;"></app-job-data-table>
        </div>
        <a href="https://pay.fondy.eu/s/P2YiT" target="_blank" class="btn-donate text-center">Donate Juniverse</a>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header1">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body1">
        <app-job-filter></app-job-filter>
    </div>
</div>
