<div class="ukraine-msg">
  <div class="text-right">    
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  
  <h2 class="text-center">
    Ми переможемо! <br>
    Слава Україні!
  </h2>
  <h2 class="text-center">
    We will win! <br>
    Glory to Ukraine!
  </h2>
  <div class="btns text-center ">
    <button mat-flat-button mat-dialog-close class="lang" (click)="switchLang('ua')">ua</button>
    <button mat-flat-button mat-dialog-close class="lang" (click)="switchLang('eng')">eng</button>
  </div>
</div>