.page-container{
    width: 100%;
    overflow-y: scroll;   
}

.example-card{
    background-color: transparent !important;
    display: block;
    position: relative;
    min-width: 85%;
    margin: 10px auto;
    white-space:pre-wrap;
    padding-bottom: 65px;
    white-space: pre-line;
    min-height: 100% !important;
    box-sizing: content-box !important;

    mat-icon{
        display: inline;
        font-size: 15px;
        vertical-align: middle !important;
    }
}

@media only screen and (max-width: 960px)
{
    .page-container{
        width: 90vw;
    }
}
