th{
    font-weight: 400 !important;
}
td {
    position: relative;
    word-break: break-word;
}
.hire-table {
    width: 100%; 
}
.star-icon {
    color: #ffb300 !important;
    position: relative;
    top: 1px;
    @media only screen and (max-width: 760px){
        top: 8px;
    }
}
.relocate-icon, .remote-icon {
    color: #039be5 ;   
}
.hide-personal-data {
    position: absolute;
    top: 9px;
    left: 7px;
    opacity: 0.2;
    max-width: 26px;
}
.position-name {
    text-decoration: none !important;
    color: #181818;
}
.linkedin-container {
    display: inline-block;
    width: 35px;
}
.linkedin-img {
    max-width: 25px;
}
.cv-link {
    position: relative;
    top: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        color: #039be5;
    }
    @media only screen and (max-width: 760px){
        top: 1px;
    }
}
.send-btn{
    color: #0A66C2 !important;
}

.column-experiance {
    width: 100px;
}
.column-english {
    width: 110px;
}
.column-relocate, .column-education, .column-courses {
    width: 60px;
}
.column-remote {
    width: 60px;
}
.column-linkedin {
    width: 110px;
    padding-left: 10px;
}

table {
    table-layout: fixed;
    @media only screen and (max-width: 960px) {
        // padding-bottom: 80px;
    }
}

@media only screen and (max-width: 760px) {
    table, tbody, tbody, td, tr {
        display: block;
    }
    table{
        display: flex;
        flex-flow: column nowrap;
        width: 80vw !important;
        margin: 0 auto !important;
        justify-content: space-between; 
        align-items: stretch;
        margin-top: 20px !important;
    }
    tr {
        display: flex;
        flex-flow: column wrap;
        width: 100% !important;
        border-width: 0px;
        height: max-content !important;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 25%);
        position: relative;
    }
    td {
        display: flex;
        flex-flow: row no-wrap;
        width: 100% !important;
        border: none !important;
        padding: 0 !important;
        line-height: 25px !important;
    }
    td:before {
        display: block;
        width: 40% !important;
        background-color: #CAEAF5;
        margin-right: 10px;
        padding-left: 10px;
        // color: #fff;
    }
    td{
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
      box-sizing:border-box; 
    }
    td:nth-of-type(11){
        position: absolute;
        left:-webkit-calc(100% - 50px);
        left:-moz-calc(100% - 50px);
        left:calc(100% - 50px);
        bottom: 20px;
        .send-btn{
            transform: scale(1.5);
        }
    }

    td:nth-of-type(1):before {content: attr(mobile); border-radius: 5px 0 0 0; vertical-align: text-top;}
    td:nth-of-type(2):before {content: attr(mobile);}
    td:nth-of-type(3):before {content: attr(mobile);}
    td:nth-of-type(4):before {content: attr(mobile);}
    td:nth-of-type(5):before {content: attr(mobile);}
    td:nth-of-type(6):before {content: attr(mobile);}
    td:nth-of-type(7):before {content: attr(mobile);}
    td:nth-of-type(8):before {content: attr(mobile);}
    td:nth-of-type(9):before {content: attr(mobile); padding-bottom: 15px !important; vertical-align: text-top;}
    td:nth-of-type(10):before {content: attr(mobile); padding-bottom: 20px !important; vertical-align: text-top;}
    // td:nth-of-type(10):before {content: "Chat"; border-radius: 0 0 0 5px;}

    thead {
        display: none !important;
    }
}
.disabled{
    color: #858585b8 !important;
    cursor: not-allowed;
}