<div class="page-layout carded fullwidth">
    <div class="center">
        <div class="page-help">
            <p class="text-center help-text">
                24 лютого 2022 року росія почала повномасштабне військове вторгнення на територію України. У цьому розділі наша команда зібрала посилання, які стануть у пригоді українцям під час війни.
            </p>
            <div class="page-help mb-20  mat-elevation-z6 p-20 pb-24">            
                <app-help-data-table class=""></app-help-data-table>            
            </div>
        </div>
        <a href="https://pay.fondy.eu/s/P2YiT" target="_blank" class="btn-donate text-center">{{'donate_rozrobnyk' | translate}}</a>
    </div>
</div>
