.newpost{
    display: flex;
    flex-direction: column;
    padding: 20px 16px 15px;
    gap: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;

    &__items{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 25px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    &__photo{
        width: 54px;
        height: 54px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    &__create{
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 10px 10px 15px;
        gap: 15px;
       

        background: #F5F5F5;
        border: 1px solid #65B7D3;
        border-radius: 10px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 2;
        
        input{
            background: transparent;
            // width: 100%;
        }
    }
}




.card{
    &__date{
        font-size: 12px;
    }
}


.action{
    margin-top: 15px;
    column-gap: 30px;
    &__item{
        svg{
            margin-right: 10px;
        }
    }
}

.icon-1x {
    font-size: 24px !important;
}
h5 a, h6 a{
    text-decoration:none;    
    font-size: 16px;
    font-weight: 700 !important;
}
h6 a{
    font-size: 14px;
    color: #000 !important;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    padding: 1.5rem;
}
.dropdown, select{
    background: transparent !important;
    border: none !important;
}
.title{
    &:hover{
        cursor: pointer;
        color: #65B7D3;
    }
}
.bookmark{
    cursor: pointer;
    &:hover{
        svg{
            filter: invert(71%) sepia(28%) saturate(5021%) hue-rotate(161deg) brightness(88%) contrast(83%);
        }
    }
}


.highlight{
    svg{
        filter: invert(71%) sepia(28%) saturate(5021%) hue-rotate(161deg) brightness(88%) contrast(83%);
    }
    &:hover{
        svg{
            filter: none;
        }
    }
}

.markB{
    filter: invert(71%) sepia(28%) saturate(5021%) hue-rotate(161deg) brightness(88%) contrast(83%);
    &:hover{
        filter: none;
    }
}


.like{
    cursor: pointer;
    &:hover{
        svg{
            fill: red;
        }
    }
}

.highlight-like{
    svg{
        // filter: invert(71%) sepia(28%) saturate(5021%) hue-rotate(161deg) brightness(88%) contrast(83%);
        fill: red;
    }
    &:hover{
        svg{
            fill: none;
        }
    }
}
span[id^="cl"]{
    display: inline-block;
    margin-right: 7px;
}