
<div>
    <div class="example-action-buttons text-right">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion multi>
        <mat-expansion-panel  *ngFor="let helpType of helpDataTable">
            <mat-expansion-panel-header *ngIf="isType(helpType.name)">
                <mat-panel-title>
                    {{helpType.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let link of helpType.links" class="help-list-item">
                <b>{{link.name}}</b>: <a href={{link.link}} target="_blank">{{link.link}}</a> - {{link.descript}}
            </p>                    
        </mat-expansion-panel>
    </mat-accordion>
</div>

