<!-- <form [formGroup]="form" class="correct-height filter-container inner-scrol"> -->
                <!-- <div class="position-container" formArrayName="states">
                    <mat-checkbox *ngFor="let control of getStatesControls(); let i = index"
                                [formControlName]="i">
                        {{statesList[i]}}
                    </mat-checkbox>
                </div> -->
    <!-- <p>Розділи:</p>
    <div class="help-container" formArrayName="types">
        <mat-checkbox *ngFor="let controlTypes of getTypesControls(); let i = index"
                      [formControlName]="i">
            {{typesList[i]}}
        </mat-checkbox>
    </div>
    <button (click)="reset()" [disabled]="disableReset" class="reset-btn mt-12" color="accent" mat-raised-button>
        Reset filter
    </button>
    <br>
</form> -->
