<!-- <div class="page-layout carded filter-table-layout fullwidth inner-scroll ">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="page-container mat-elevation-z6">
            <app-hire-list-filter class="left filter-fixed-container" style="z-index: 5 !important;"></app-hire-list-filter>
            <app-hire-list-data-table class="right correct-height" style="z-index: 1 !important;">
            </app-hire-list-data-table>
        </div>
    </div>
</div> -->
<div class="page-layout carded filter-table-layout fullwidth">
    <div class="center">
        <div class="page-container">
            <app-hire-list-filter class="left filter-fixed-container" style="z-index: 5 !important;"></app-hire-list-filter>
            <app-hire-list-data-table class="right " style="z-index: 1 !important;">
            </app-hire-list-data-table>
        </div>
        <a href="https://pay.fondy.eu/s/P2YiT" target="_blank" class="btn-donate text-center">Donate Juniverse</a>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header1">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body1">
        <app-hire-list-filter></app-hire-list-filter>
    </div>
</div>